<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> This is home page </h1>
    <h2>Author : {{author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2>List : {{lst}}</h2>
    <h2>{{lst}}</h2>

    <!-- Conditional statement-->

    {% if age >= 20 %}
        <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4>You will not get driving license</h4>
    {% else %}
        <h4>You are a child</h4>
    {% endif %}

    {{lst}}
    <h2>{{ lst | join:" "}}</h2>
    <h2>{{birthday | date:"D d M Y"}}</h2>
    <!-- <h2> {{val | default:"an empty string"}}</h2> -->
    <h2>{{"Python is fun" | cut:" "}}</h2>
    <h2>{{val | length}}</h2>
    <h2>{{"Python is fun. happy coding in journey. " | truncatechars:4}}</h2>
    <h2>{{"Python is fun. happy coding in journey. " | truncatewords:3}}</h2>


    <!-- For loop -->
    {% for i in courses %}
        <h4>{{i.id}} : {{i.name}} : {{i.fee}}</h4>
    {% endfor $%}

</body>
</html>